{% extends 'base.html.twig' %}

{% block title %}Never Gonna Give You Up!
{% endblock %}

{% block body %}
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<div class="px-3 text-center">
			<h1>La curiosité est un vilain défaut.</h1>
			<p class="lead">
				Célébration d'anniversaires spéciaux : Chaque année, les fans célèbrent "Rickroll Day", 
				            un jour spécial où ils s'échangent des liens de la chanson. Le 16 juillet 2007, YouTube a même 
				            rendu hommage à Never Gonna Give You Up en redirigeant les utilisateurs qui cherchaient des vidéos d'autres 
				            contenus populaires vers la vidéo de Rick Astley. Ce fut une manière mémorable d'intégrer le mème dans la culture 
				            d'Internet.
			</p>
				<a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
			</p>

			<!-- Intégration de la vidéo -->
			<div class="video-container" style="position: relative; width: 55%; padding-bottom: 31%; height: 0; overflow: hidden; margin: 10px auto;">
				<video style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" controls autoplay>
					<source
					src="{{ asset('videos/Rick Astley - Never Gonna Give You Up (Official Music Video).mp4') }}" type="video/mp4">
					<!-- Option pour d'autres formats vidéo -->
					<source src="{{ asset('videos/never_gonna_give_you_up.webm') }}" type="video/webm">
					Votre navigateur ne prend pas en charge la vidéo.
				</video>
                
			<p class="lead">
				Le Rickrolling et les célébrités : Plusieurs célébrités se sont elles aussi prêtées au jeu du Rickrolling, 
				            en jouant avec leur propre image dans des vidéos ou des messages en ligne. Par exemple, en 2020, le compte officiel 
				            de l'hôpital de New York a utilisé un mème de Rickrolling pour annoncer des informations sur les tests COVID-19, prouvant 
				            que même dans des moments sérieux, la blague peut trouver sa place.

			</p>


			<p class="lead">
			</div>
		</div>
	</div>
{% endblock %}
