{% extends 'base.html.twig' %}


{% block title %}Never GOnna!{% endblock %}

{% block body %}

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <div class="px-3">
            <h1>Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
                <img src="https://th.bing.com/th?id=OIP.Ps7rEbMHGRNZRZh3UK_W-gHaFS&w=295&h=211&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="" srcset="">
            </p>
        </div>
    </div>
{% endblock %}

